@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.card {
    align-items: center;
    border-radius: 2em;
    font-family: Fredoka One;
    letter-spacing: 2px;
    height: 300px;
    width: 350px;
    color: honeydew;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background: #223344;
}

.title-card{
    margin: 1rem 0 1rem 0;
}

.imagen {
    height: 180px;
    width: 150px;
    margin: 2px;
}

.region {
    margin: .5rem 0 1rem 0;
}

.imgcard {
    border-radius: 8px;
    height: 110px;
    width: 200px;
    
}

h3 {
    margin: 0;
}

.card-button {
    font-family: Bebas Neue;
    font-size: 1rem;
    cursor: pointer;
    
}

.card-button:hover {
    opacity: 100;
}