@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');


.container {
    font-family: Alfa Slab One;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;

}

.detail-title{
    margin: 1rem;
    letter-spacing: 2px;
}

.detail {
    padding: 15px 10px;
    text-align: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 100%;
    position: relative;
    border: 4px solid rgba(128, 128, 128, 0.986);
    opacity: 0.9;

}

.detail-cont-name{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

.cont-info {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;

}

.cont-info-country{
    /* border: 2px solid red; */
    padding: 1rem;
    text-align: start;
    letter-spacing: 1px;
}

.cont-info-activity{
    padding: 1rem;
    text-align: start;
    letter-spacing: 1px;
}


.info {
    font-size: 1rem;
}

.cont-button{
    margin: 1.5rem;
}

.button{
    color: rgb(0, 0, 0) ;
    font-size: 20px;
    font-weight: 400;
    padding: 0.5em 1.2em;
    background: #223344;
    border: 2px solid;
    transition: all 1s ease;
    margin-top: 150px;
 }
 
 .button:hover {
   background: rgb(143, 139, 139);
   color: #fff ;
   cursor: pointer;
 }