@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.landingPage{ 
    padding: 4em;
    margin: auto;    
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
    backdrop-filter: blur(10px);
    border-radius: 2em;
    /* width: 100%; */
    height: 100%;
}

.h1landing{
    margin-top: 0%;
    font-family: Alfa Slab One;
    font-size: 4rem;
    color: #fff;
    letter-spacing: 3px;
    
}

.img-landing {
    height: 12rem;
    width: 12rem;
}

.landing-button {
    border: 2px solid red;
}

.button-landing{
    font-family: Alfa Slab One;
    color: #fff;
    font-size: 20px;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: #fff;
    transition: all 1s ease;
    margin-top: 100px;
 }
 .button-landing:hover {
   background: #fff;
   color: black;
   cursor: pointer;
 }

